/* .hosted-zones-table {
    width: 100%;
    border-collapse: collapse;
}

.hosted-zones-table th, .hosted-zones-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.hosted-zones-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.hosted-zones-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.hosted-zones-table tbody tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

.zone-name {
    color: blue;
    text-decoration: underline;
} */

/* HostedZonesTable.css */

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    /* margin: 10px; */
    padding: 0;
    background-image: none;
}

/* Container styling */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* White shadow */
  }

/* Heading styling */
h2 {
    color: #333;
}

.button-container {
    display: flex;
    justify-content: space-between; /* Aligns items with space between them */
    align-items: center; /* Centers items vertically */
    /* padding: 10px; */
    margin-left: 200px;
  }

/* Button styling */
button {
    background-color: #f2f2f2;
    color: rgb(44, 41, 41);
    /* padding: 10px 20px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin-bottom: 10px; */
    cursor: pointer;
    border-radius: 5px;
    /* margin-top: auto; */
}

button:hover {
    color:black;
    background-color: #f2f2f2;
}

/* Table styling */
.hosted-zones-table {
    width: 100%;
    border-collapse: collapse;
}

.hosted-zones-table th, .hosted-zones-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.hosted-zones-table th {
    background-color: #f2f2f2;
    color: #333;
}

.hosted-zones-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.hosted-zones-table tr:hover {
    background-color: #ddd;
}

/* Zone name styling */
.zone-name {
    cursor: pointer;
    color: #007bff;
}

.zone-name:hover {
    text-decoration: underline;
    color: #0056b3;
}

.header-container {
    display: flex;
    justify-content: space-between; /* Aligns items with space between them */
    align-items: center;
    /* padding-bottom: -100px; */
  }
  